<style>
.temp-label {
	margin-left: 1px;
	margin-top : 320px;
	margin-bottom: -10px;
}
.winddir-label {
	margin-left: 160px;
	margin-top: 150px;
	font-size: 135px;
	text-align: center;
}
.windspeed-label {
	margin-top: 150px;
	font-size: 135px;
}
.feelslike-label {
	font-size: 145px;
	margin-top: 115px;
	margin-left: 910px;

}
.dewpt-label {
	font-size: 145px;
	margin-left: 910px;
	width: 260px;
	text-align: right;
	padding-right: 10px;
}
.pressure-label {
	font-size: 100px;
	margin-top: 105px;
	margin-left: 800px;
}

</style>
<div class="container" >
	<div class="row" style="width: 1080px;">
		<div class="col">
			<div class="row">
				
					<label id="lblTemp" class="temp-label" style="font-size: 275px;">128*</label>
				
			</div>
			<div class="row">
				
					<label id="lblWindDir" class="winddir-label">SW &nbsp;</label><label id="lblWindSpeed" class="windspeed-label">88mph</label>
				
			</div>
		</div>
		<div class="col" style="margin-top: -760px;">

			<div class="row">
				
					<label id="lblDewpt" class="dewpt-label text-center text-nowrap">99*</label>
				
			</div>
		
			<div class="row">
				
					<label id="lblPressure" class="pressure-label text-center text-nowrap">30.32</label>
				
			</div>	
			<div class="row">
				
					<label id="lblHeatIndex" class="feelslike-label text-center text-nowrap">199*</label>
				
			</div>
		</div>
	</div>
</div>

<script>
	$("body").css("background-image","url('./resources/img/KGAN_background.jpg')");
</script>